* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

input, button {
    font-family: inherit;
    font-size: 100%;
}

.container {
    background-color: rgb(66, 66, 65);
    width: 500px;
    height: 850px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 30px;
}

.section {
    display: grid;
    grid-template-rows: 45px 45px 45px;
    
}

label {
    font-size: 1.1em;
}

input {
    width: 400px;
    height: 40px;
    background-color: rgb(211, 173, 186);
    font-size: 1.2em;
}

input.invalid {
    border: 3px solid rgb(248, 11, 11);
    background-color: rgb(250, 127, 147);
}

input.valid {
    background-color: rgb(158, 241, 158);
}

.error {
    width: 400px;
    font-style: italic;
    display: none;
    font-size: 0.9em;
}



.btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(168, 164, 236);
    font-size: 1.2rem;
    border: none;
    width: 130px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
    border: 1px solid black;
}

.submitted {
    padding: 10px;
    font-size: 1.3em;
    display: none;
}

