* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

input {
    width: 400px;
    height: 40px;
}

input, button {
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    cursor: pointer;
}