* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

.container {
    background-color: rgb(66, 66, 65);
    width: 500px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}

.section {
    display: grid;
    grid-template-rows: 45px 45px 45px;
    
}

label {
    font-size: 1.2em;
}

input {
    width: 400px;
    height: 40px;
    background-color: rgb(211, 173, 186);
    font-size: 1.2em;
}

input, button {
    font-family: inherit;
    font-size: 100%;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(168, 164, 236);
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

